:root {
  --orange: #fb8f2c;
  --black: #111114;
  --grey: #cfcfd0c4;
}

/* 1 */

.header-content {
  margin-top: 110px;
  padding-bottom: 70px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.213);
}

.header-content h2 {
  max-width: 870px;
}

.header-content p {
  width: 1035px;
  margin-top: 15px;
}

/* 2 */

.the-story {
  margin-top: 150px;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.the-story .left {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.the-story .left img {
  display: block;
}

.the-story h2 {
  margin-top: 65px;
  width: 540px;
}

.the-story p {
  margin-top: 30px;
  width: 540px;
}

/* 3 */
.vision-mission {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
}

.vision-mission > .describtion {
  margin-top: 15px;
  max-width: 770px;
  text-align: center;
  margin-bottom: 40px;
}

.vision-mission > .container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.vision-mission > .container .left .item {
  display: flex;
  gap: 35px;
  margin-bottom: 60px;
}

.vision-mission > .container .left .item .describtion {
  max-width: 360px;
}

/* 4 */
.get-news {
  margin-top: 200px;
  display: flex;
  gap: 75px;
  margin-bottom: 150px;
}

.get-news p {
  margin-top: 20px;
  margin-bottom: 120px;
}

.email-form {
  display: flex;
  align-items: center;
  padding: 5px 0;
  width: 620px;
}

.email-form input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  color: #fff;
  font-size: 14px;
}

.email-form button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.email-form button img {
  width: 40px;
  height: auto;
}
